<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel"
style="padding-top: 150px; " >
    <div class="carousel-inner" style="background-color:chocolate" id="carouselId">

   
      <div class="carousel-item ">

        <div> 

          <div class="row" style="padding-left: 200px;">
            <div class="column"  >
                <app-card [course]="courses[0]" [courseRating]="2" [courseTotalRating]="100" [instructorName]="'Danny'"></app-card>

            </div>
            <div class="column" >
                <app-card [course]="courses[1]" [courseRating]="5" [courseTotalRating]="3332"></app-card>
            </div>
            <div class="column" >
                <app-card></app-card>
            </div>
          </div>
      </div>
      </div>

      <div class="carousel-item active">
        <div class="row" style="padding-left: 200px;">
          <div class="column">
              <app-card></app-card>
          </div>
          <div class="column">
              <app-card></app-card>
          </div>
          <div class="column">
              <app-card></app-card>
          </div>
        </div>

      
      </div>
    
      <div class="carousel-item ">
          <div class="row"  style="padding-left: 200px;">
            <div class="column" >
                <app-card></app-card>
            </div>
            <div class="column">
                <app-card></app-card>
            </div>
            <div class="column">
                <app-card></app-card>
            </div>
          </div> 
     </div>
    
   <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

  </div>

 

