.course-card {
    max-width: 15rem;
    height: 100%
}

mat-card-title{
    font-size: medium;
}

mat-card-footer {
    display: flex;
    margin-left: 0px;
}

.editbtn {
    border: none;
    border-radius: 10px;
    
    background-color: rgb(68, 67, 67);
    color: white;
}

.editbtn:hover{
    background-color: rgb(83, 83, 83);
}

.mat-card {
  padding-bottom: 0.5rem;
}

.course-card-thumb {
  height: 10rem;
  object-fit: cover;
}
