.example-card {
    max-width: 200px;
  }
  
  /* .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }   */
  mat-card-title{
    font-size: medium;
  }
  mat-card-footer{
    display: flex;
    margin-left: 0px;

  }
  .editbtn{
    border: none;
    border-radius: 10px;
    margin-left: 20px;
    
    background-color: rgb(68, 67, 67);
    color: white;
  }
  .editbtn:hover{
    background-color: rgb(83, 83, 83);
    
  }