

  

 <mat-toolbar color="primary" layout="row" style="position: fixed;">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
  (click)="sidenav.toggle()" >
    <mat-icon>menu</mat-icon>
  </button>
  <span>TDZ</span>
  <span class="example-spacer"></span>
  <mat-form-field appearance="outline" id="nav-input-field">
    <input matInput placeholder="Eg: React" id="nav-search-input">
    <mat-icon matSuffix id="nav-search-icon">search</mat-icon>
  </mat-form-field>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
  </mat-toolbar>

  <mat-sidenav-container fullscreen style="margin-top: 55px !important;">
    <mat-sidenav #sidenav mode="push" class="sidenav">
    <div class="vertical-menu">
      <a href="#"><mat-icon>home</mat-icon> <span style= "color:rgb(34, 57, 158); background-color:black;" class="nav-caption"><h4>Home</h4></span></a>
      <a href="#"> <mat-icon>assignment_ind</mat-icon> <span style= "color:rgb(34, 57, 158); background-color:black;" class="nav-caption"><h4 >Courses</h4></span></a>
      <a href="#"><mat-icon>account_balance</mat-icon><span style= "color:rgb(34, 57, 158); background-color:black;" class="nav-caption"><h4>Account Profile</h4></span></a>
    </div>
    </mat-sidenav>
    <div class="content">

      <div class="app-container">
        <router-outlet></router-outlet>
      </div>
    <div style="padding: 5px;"></div>
    </div>
  </mat-sidenav-container>
    

  <!-- <app-course-table></app-course-table> -->
    <!-- <app-material-table></app-material-table> -->

<!-- <app-navbar class="app-navbar"></app-navbar>
<div class="app-container">
  <router-outlet></router-outlet>
</div>
</div> -->

<!-- <app-card></app-card>
<app-rate-course></app-rate-course>
<router-outlet></router-outlet> -->
